@using System.Web.Optimization
@model List<AIS.Models.PaymentInfo>

@{
    ViewBag.Title = "Index";
}

@{
    var quarter = new List<SelectListItem>()
    {
        new SelectListItem {Selected = true, Text = "1 квартал"},
        new SelectListItem {Text = "2 квартал"},
        new SelectListItem {Text = "3 квартал"},
        new SelectListItem {Text = "4 квартал"},
    };
    var years = new List<SelectListItem>();
    for (int i = 2015; i < 2021; i++)
    {
        years.Add(new SelectListItem() { Text = i.ToString() });
    }
    years[0].Selected = true;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<h2>Index</h2>


<form action="@Url.Action("Index","Payment")" method="post">
    <br />
    @Html.ValidationSummary(false)
    <br />
    @for (int i = 0; i < 3; i++)
    {
        @Html.ValidationMessageFor(pi => pi[i].FidINN)
        @Html.ValidationMessageFor(pi => pi[i].FidAdress)
        @Html.EditorFor(pi => pi[i].FidINN)
        @Html.EditorFor(pi => pi[i].FidAdress)
        @Html.EditorFor(pi => pi[i].FidArea)
        @Html.EditorFor(pi => pi[i].FidSum)
        @Html.DropDownListFor(m => m[i].FidQuarter, quarter)
        @Html.DropDownListFor(m => m[i].FidQYear, years)
        //@Html.EditorFor(m => m[i].FidDate, new { type = "time" })
        @Html.TextBoxFor(m => m[i].FidDate, new { type = "date" })
        <br/>
    }
    <input type="submit" value="Отправить">
</form>